<div class="container mt-5">

    <h2 class="fw-bold text-center mb-4 text-danger">Admin Dashboard 🔐</h2>

    <div class="row g-4" >

        <!-- Add Candidate -->
        <div class="col-md-4 mb-4">
            <div class="card shadow p-4 text-center rounded-4">
                <h4 class="fw-bold">Add Candidate</h4>
                <p class="text-muted">Register a new election candidate.</p>
                <a href="/admin/addcandidates" class="btn btn-primary w-100">Add Candidate</a>
            </div>
        </div>

        <!-- View Candidates -->
        <div class="col-md-4 mb-4">
            <div class="card shadow p-4 text-center rounded-4">
                <h4 class="fw-bold">View Candidates</h4>
                <p class="text-muted">See all registered candidates.</p>
                <a href="/candidatelist" class="btn btn-secondary w-100">View List</a>
            </div>
        </div>

        <!-- View Voters -->
        <div class="col-md-4 mb-4">
            <div class="card shadow p-4 text-center rounded-4">
                <h4 class="fw-bold">Voters</h4>
                <p class="text-muted">Check all registered voters.</p>
                <a href="/admin/voterlist" class="btn btn-success w-100">View Voters</a>
            </div>
        </div>


        <!-- View Votes / Results -->
        <div class="col-md-4 mb-4">
            <div class="card shadow p-4 text-center rounded-4">
                <h4 class="fw-bold">View Votes</h4>
                <p class="text-muted">Check live vote counts and results.</p>
                <a href="/results" class="btn btn-dark w-100">View Votes</a>
            </div>
        </div>
        <div class="col-md-4">
    <div class="card shadow-lg border-0 rounded-4">
        <div class="card-body text-center p-4">
            <h4 class="fw-bold mb-3">Set Election Time</h4>
            <p class="text-muted mb-4">Choose Start & End time for voting</p>

            <a href="/admin/setelection" class="btn btn-primary w-100 py-2 rounded-pill">
                <i class="bi bi-clock-history me-2"></i> Set Time
            </a>
        </div>
        <% if (message) { %>
  <div class="alert alert-warning text-center"><%= message %></div>
<% } %>

    </div>

    <form action="/admin/stop-election" method="POST">
    <button class="btn btn-danger w-100 my-2">
        Stop Election
    </button>
    


</form>
</div>


    </div>

    <div class="text-center mt-3">
        <a href="/logout" class="btn btn-outline-danger px-4 py-2 rounded-pill">Logout</a>
    </div>

</div>
