<h2 class="text-center mb-4 fw-bold">Login</h2>

<form action="/user/login" method="POST" class="mx-auto" style="max-width: 450px;">

    <div class="mb-3">
        <label class="form-label">Aadhar Number</label>
        <input class="form-control" name="aadharCard" placeholder="Enter Aadhar Number" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Password</label>
        <input class="form-control" name="password"  placeholder="Enter password" required>
    </div>

    <button class="btn btn-success btn-custom w-100">Login</button>

    <p class="text-center mt-3">
        Don't have an account?
        <a href="/signup" class="fw-bold text-decoration-none text-center mt-3">signup</a>
    </p>
    <p><a href="/forgot" class="fw-bold text-decoration-none">Forgot Password?</a></p>
</form>
<% if (typeof error !== 'undefined') { %>
    <div class="alert alert-danger mt-3 text-center"><%= error %></div>
<% } %>